{% extends "footteller_header_template.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        #submit {
            background: #ffc722;
            color: #fff;
            font-size: large;
            border: none;
            position: relative;
            cursor: pointer;
            transition: 800ms ease all;
            outline: none;
        }

        #submit:hover {
            background: #fff;
            color: #ffc722;
        }

        #submit:before,
        #submit:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: #ffc722;
            transition: 400ms ease all;
        }

        #submit:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }

        #submit:hover:before,
        #submit:hover:after {
            width: 100%;
            transition: 800ms ease all;
        }
    </style>
    <script>
        function random_fill() {
            $("input[type='number'][max='100']").each(function () {
                this.value = Math.floor(Math.random() * (100 + 1))
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div class="container">
        <div id="warning" class="row" style="color: red; font-weight: bold;display: none;font-size: 25px">
            <div class="text-center col-12">
                Please fill in the value
            </div>
        </div>
        <div class="row mb-4">
            <div class="col text-center">
                <input class="button btn btn-primary" id="random" onclick="random_fill()"
                       style="background-color:#fdbd00; border-color: #fdbd00; color: white; font-weight: bold;cursor: pointer"
                       value="Random">
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4 text-center">
                <div id="result_panel" style="display:none">
                    <div class="panel panel-primary" style="border-radius: 23px">
                        <div class="panel-heading"
                             style="border-top-left-radius: 23px;border-top-right-radius: 23px;
                                 background-color:#FFC722; color: black; font-weight: bold">
                            Predict Marketing Value
                        </div>
                        <div class="panel-body">
                            <div id="result" style="font-size: medium"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="row">
                        {% for key, values in attributes.items %}
                            <div class="col-md-3 col-sm-6">
                                <h3 style="color: #fdbd00; font-weight: bold">{{ key }}</h3>
                                {% for v in values %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group row mb-4">
                                                <label class="col-sm-8 pl-4 pr-1 col-form-label"
                                                       style="color: black; font-weight: normal; font-size: medium">
                                                    {{ v }}</label>
                                                <div class="col-sm-3 px-1">
                                                    <input required class="form-control" type="number" min="0" max="100"
                                                           name="{{ v }}" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row md-4">
                        <div class="col-md-4 offset-md-4 col-sm-12">
                            <h2 class="text-center" style="color: #fdbd00; font-weight: bold">Prefer Position</h2>
                            {% for i in positions %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group row mb-4">
                                            {% for j in i %}
                                                <label class="col-sm-2 pl-4 pr-1 col-form-label"
                                                       style="font-size: medium; font-weight: normal">
                                                    {{ j }}</label>
                                                <div class="col-sm-2 px-1">
                                                    {% if j != '' %}
                                                        <input required class="form-control" type="checkbox"
                                                               name="prefer" value="{{ j }}">
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-2 offset-5 my-4">
                        <input required id="submit" type="button" class="button btn btn-primary"
                               style="background-color:#fdbd00; border-color: #fdbd00; color: black; font-weight: bold"
                               value="submit">
                        <br><br>
                    </div>
                </div>
            </div>


        </div>
    </form>

    <script>
        let arr_list = ['Age', 'Overall', 'Potential', 'Special', 'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball Control', 'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing', 'Free Kick Accuracy', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Heading Accuracy', 'Interceptions', 'Jumping', 'Long Passing', 'Long Shots', 'Marking', 'Penalties', 'Positioning', 'Reactions', 'Short Passing', 'Shot Power', 'Sliding Tackle', 'Sprint Speed', 'Stamina', 'Standing Tackle', 'Strength', 'Vision', 'Volleys'];
        $(document).ready(function () {

            $("#submit").click(function () {
                $('html, body').animate({scrollTop: 0}, 'slow');
                let inputs = {};
                for (let i = 0; i < arr_list.length; i++) {
                    let query = '*[name="' + arr_list[i] + '"]';
                    let value = $(query).val();
                    if (!value) {
                        document.getElementById('warning').style.display = "block";
                        document.getElementById('result_panel').style.display = "none";
                        return
                    }
                    document.getElementById('warning').style.display = "none";
                    document.getElementById('result_panel').style.display = "block";
                    $('#result').html("Loading...");
                    inputs[arr_list[i]] = value;
                }
                let prefer_list = [];
                $("[name=prefer]:checkbox:checked").each(function () {
                    prefer_list.push($(this).val());
                });
                inputs['prefer'] = prefer_list;

                $.ajax({
                    type: "POST",
                    url: "/analysis_form/",
                    data: inputs,
                    success: function (data) {
                        $('#result').html("€ " + data["value"]);
                    },
                    error:function () {
                        $('#result').html("Error");
                    }
                });
            });
        });
    </script>
{% endblock %}
