{% extends "footteller_header_template.html" %}
{% load static %}
{% load mathfilters %}
{% block head %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .avatar {
            height: 17rem;
            width: 17rem;
        }

        .meta {
            padding-top: .4rem;
        }

        .meta ul li {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .meta ul li .p {
            color: #fdbd00;
            margin-right: 1rem;
            font-weight: bold;
        }

        .fa-star,

        .stats {
            font-size: 22px;
        }

        .stats .p {
            color: #fdbd00;
            font-weight: bold;
            margin-right: 1rem;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            font-size: 17px;

        }

        ul li label {
            padding-right: .5rem;
            color: #fdbd00;
            font-weight: bold;
        }

        .rating {
            text-align: center;
        }

        .rating h5 {
            color: #fdbd00;
        }

        .attr h4 {
            color: #fdbd00;
        }

        .pl li .p {
            margin-right: .5rem;
        }
        hr.new1 {
            border-top: 4px solid #fdbd00;
            border-radius: 1.5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <div class="container" style="color: black">
        <div class="row mb-4">
            <div class="col text-center">
                <h3>Create Your Own Player</h3>
            </div>
        </div>

        <form class="form-horizontal" role="form">
            <div class="row mb-4"
                 style="border-radius: 33px; padding-top: 0.7cm;border-color: black; border-style: solid; border-width: 4px">
                <div class="col-10 offset-1">
                    <div class="row py-4">
                        <div class="col-4 text-center">
                            <img class="avatar" alt="photo" src=""
                                 onerror="this.src='https://cdn.sofifa.org/players/10/notfound_0@3x.png'">
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12 meta">
                                    <ul>
                                        <li class="form-group row">
                                            <label for="name" class="col-sm-2 px-1 col-form-label">Name</label>
                                            <div class="col-sm-10 px-1">
                                                <input type="text" class="form-control" id="name" required>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 meta">
                                    <ul>
                                        <li class="form-group row">
                                            <label class="col-sm-2 px-1 col-form-label">Team</label>
                                            <div class="col-sm-10 px-1">
                                                <input class="form-control p" style="font-size: 1.3rem; color: black;font-weight: normal"
                                                    name="team" value="Donate to select your Team Name!" disabled>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col meta">
                                    <ul>
                                        <li class="form-group row">
                                            <label class="col-sm-4 px-1 col-form-label">ID</label>
                                            <div class="col-sm-8 pl-1 pr-2">
                                                <input class="form-control" style="font-weight: bold"
                                                       name="id" value="Donate to select ID!" disabled>
                                            </div>
                                        </li>
                                        <li class="form-group row">
                                            <label class="col-sm-4 px-1 col-form-label">Age</label>
                                            <div class="col-sm-8 pl-1 pr-2">
                                                <input type="number" class="form-control" name="age" min="0" required>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col meta">
                                    <ul>
                                        <li class="form-group row">
                                            <label class="col-sm-6 px-1 col-form-label">Position</label>
                                            <div class="col-sm-6 px-1">
                                                <select class="form-control" name="position">
                                                    {% for position in positions %}
                                                        <option value="{{ position }}">{{ position }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li class="form-group row">
                                            <label class="col-sm-6 px-1 col-form-label">Jersey Number</label>
                                            <div class="col-sm-6 px-1">
                                                <input type="number" class="form-control" name="jersey-number" min="0"
                                                       required>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 meta" style="padding-top: .2px">
                                    <hr class="new1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4"
                         style="font-size: large; background-color: #fdbd00; border-radius: 25px; padding:5px !important;">
                        <div class="col-md-3 py-md-2 stats">
                            <div class="form-group row">
                                <label class="col-sm-5 p col-form-label" style="color: white">Rating</label>
                                <div class="col-sm-5 px-1 mt-2">
                                    <input class="form-control" type="number" min="0" max="100" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 py-md-2 stats">
                            <div class="form-group row">
                                <label class="col-sm-5 p col-form-label" style="color: white">Potential</label>
                                <div class="col-sm-5 px-1 mt-2">
                                    <input class="form-control" type="number" min="0" max="100" name="pontential">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 py-md-2 stats">
                            <div class="form-group row">
                                <label class="col-sm-3 p col-form-label" style="color: white">Value</label>
                                <div class="col-sm-1 mt-2">€</div>
                                <div class="input-group col-sm-6 px-1 mt-2">
                                    <input class="form-control" type="number" name="value">
                                    <div class="input-group-pretend">
                                        <div class="input-group-text">M</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 py-md-2 stats">
                            <div class="form-group row">
                                <label class="col-sm-3 p col-form-label" style="color: white">Wage</label>
                                <div class="col-sm-1 mt-2">€</div>
                                <div class="input-group col-sm-6 px-1 mt-2">
                                    <input class="form-control" type="number" name="wage">
                                    <div class="input-group-pretend">
                                        <div class="input-group-text">K</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-8 border py-3 rating">
                            <h5>Real Overall Rating</h5>
                            {% for i in rating %}
                                <div class="form-group row my-4">
                                    {% for j in i %}
                                        <label class="col pr-1 col-form-label" style="font-weight: bold">{{ j }}</label>
                                        <div class="col pl-1">
                                            {% if j != '' %}
                                                <input type="number" min="0" max="100" class="form-control"
                                                       name="{{ j }}">
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-4 border py-3" style="font-size: medium">
                            <ul>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">Preferred Foot</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="preferred-foot">
                                            {% for p in preferred_foot %}
                                                <option value="{{ p }}">{{ p }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">International Reputation</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="international-reputation">
                                            {% for i in range_5 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">Weak Foot</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="weak-foot">
                                            {% for i in range_5 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">Skill Moves</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="skill-moves">
                                            {% for i in range_5 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">Work Rate</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="work-rate">
                                            {% for i in work_rate %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">Body Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="body-type">
                                            {% for i in body_type %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                                <li class="form-group row">
                                    <label class="col-sm-6 col-form-label">Release Clause</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" name="release-clause" value="€ 55688.55688M"
                                               disabled>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="attr">
                        <div class="row">
                            {% for key, values in attributes.items %}
                                <div class="col-3">
                                    <h4>{{ key }}</h4>
                                    <ul class="pl">
                                        {% for v in values %}
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-sm-9 pl-4 col-form-label"
                                                           style="color: black; font-weight: normal">
                                                        {{ v }}</label>
                                                    <div class="col-sm-3 px-1">
                                                        <input class="form-control" type="number" min="0" max="100"
                                                               name="{{ v }}">
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col text-center">
                    <form>
                        <input class="button btn btn-primary"
                               style="background-color:#fdbd00; border-color: #fdbd00; color: black; font-weight: bold"
                               type="submit" value="Create"
                               name="Submit">
                    </form>
                </div>
            </div>
        </form>
    </div>
{% endblock %}




