{% extends "footteller_header_template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center my-4"> Money Is Power</h1>
                <h1 class="text-center my-4"> Donate Us To Make This Web More Powerful</h1>
                <h2 class="text-center mt-4">街口支付</h2>
                <img src="https://cdn.discordapp.com/attachments/509421322313400320/588025538719776808/QRCode1560266269350.png">
            </div>
        </div>
    </div>

{% endblock %}
