{% extends "base.html" %}
{% load static %}
{% block body %}
    <!-- 上面背景圖片 -->
    <div class="over-wrap">
        <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
            <div class="uk-container uk-container-center">
                <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse"
                         data-uk-grid-match="{target:&#39;&gt; div &gt; .uk-panel&#39;}" data-uk-grid-margin="">

                    <div class="uk-width-1-1 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-cover-background uk-position-relative head-wrap"
                                 style="height: 290px; background-image: url({% static "head-bg.jpg" %})">
                                <img class="uk-invisible" src="{% static "head-bg.jpg" %}" alt="" height="290"
                                     width="1920">
                                <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                    <h1>Players</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <!-- 小bar home>players -->
        <div class="uk-container uk-container-center alt">
            <ul class="uk-breadcrumb">
                <li><a href="http://h-sportak.torbara.com/yellow/index.html">Home</a>
                </li>
                <li class="uk-active"><span>Players</span>
                </li>
            </ul>
        </div>
    </div>
    {% block content %}

    {% endblock %}
{% endblock %}
