{% extends "footteller_header_template.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <style>
        .avatar {
            border: 4px solid #ffc722;
            box-shadow: 0 0 3px 0 #000;
        }

        .meta {
            padding-top: .5rem;
        }

        .meta ul li {
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }

        .meta ul li .p {
            color: #fdbd00;
            margin-right: 1rem;
            font-weight: bold;
        }

        .fa-star,
        .fa-star-half-alt {
            color: #fdbd00;
        }

        .stats {
            font-size: 22px;
        }

        .stats .p {
            color: #fdbd00;
            font-weight: bold;
            margin-right: 1rem;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            font-size: 17px;
            margin-top: .5rem;
        }

        ul li label {
            padding-right: .5rem;
            color: #fdbd00;
            font-weight: bold;
        }

        .rating {
            text-align: center;
        }

        .rating h5 {
            color: #fdbd00;
        }

        .attr h4 {
            color: #fdbd00;
        }

        .pl li .p {
            margin-right: .5rem;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock %}
{% block content %}
    <div class="container" style="color: white">
        <div class="row" style="background: gray;">
            <div class="col-10 offset-1">
                <div class="row py-4">
                    <div class="col-4 text-center">
                        <img alt="photo" src="https://cdn.sofifa.org/players/10/19/232862@2x.png">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12 meta">
                                <ul>
                                    <li><span class="p" style="font-size: 2.7rem">CHRISTOPHER HERRERA</span></li>
                                </ul>
                            </div>
                            <div class="col meta">
                                <ul>
                                    <li><span class="p">ID</span> 948794</li>
                                    <li><span class="p">AGE</span> 26</li>
                                </ul>
                            </div>
                            <div class="col meta">
                                <ul>
                                    <li><span class="p">Team</span> SL Benfica</li>
                                    <li><span class="p">Position</span> RS</li>
                                    <li><span class="p">Jersey Number</span> 79</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-4 text-center" style="font-size: large">
                    <div class="col-md-3 py-md-2 stats">
                        <span class="p">Rating</span> 80
                    </div>
                    <div class="col-md-3 py-md-2 stats">
                        <span class="p">Potential</span> 90
                    </div>
                    <div class="col-md-3 py-md-2 stats">
                        <span class="p">Value</span> 12333333
                    </div>
                    <div class="col-md-3 py-md-2 stats">
                        <span class="p">Wage</span> 123333
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-4 border py-3 rating">
                        <h5>Real Overall Rating</h5>
                        <div class="row mt-3">
                            <div class="col pr-1"></div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    LS<br> 82+2
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    ST<br> 82+4
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    RS<br> 82+2
                                </div>
                            </div>
                            <div class="col pl-1"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col pr-1">
                                <div class="bg-success">
                                    LW<br> 30
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    LF<br> 59
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    CF<br> 60
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    RF<br> 84
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="bg-success">
                                    RW<br> 75+6
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col pr-1"></div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    LF<br> 59
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    CF<br> 60
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    RF<br> 84
                                </div>
                            </div>
                            <div class="col pl-1"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col pr-1">
                                <div class="bg-success">
                                    LW<br> 30
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    LF<br> 59
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    CF<br> 60
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    RF<br> 84
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="bg-success">
                                    RW<br> 75+6
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col pr-1">
                                <div class="bg-success">
                                    LW<br> 30
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    LF<br> 59
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    CF<br> 60
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    RF<br> 84
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="bg-success">
                                    RW<br> 75+6
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col pr-1">
                                <div class="bg-success">
                                    LW<br> 30
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    LF<br> 59
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    CF<br> 60
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="bg-success">
                                    RF<br> 84
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="bg-success">
                                    RW<br> 75+6
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border py-3">
                        <canvas id="radar" height="300px"></canvas>
                    </div>
                    <div class="col-4 border py-3" style="font-size: medium">
                        <ul>
                            <li>
                                <label>Preferred Foot</label>
                                Right
                            </li>
                            <li>
                                <label>International Reputation</label>
                                1<i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <label>Weak Foot</label>
                                4<i class="fas fa-star"></i>
                            </li>
                            <li>
                                <label>Skill Moves</label>
                                4<i class="fas fa-star"></i>
                            </li>
                            <li>
                                <label>Work Rate</label>
                                <span>High/ High</span>
                            </li>
                            <li>
                                <label>Body Type</label>
                                <span>Normal</span>
                            </li>
                            <li>
                                <label>Real Face</label>
                                <span>Yes</span>
                            </li>
                            <li>
                                <label>Release Clause</label>
                                <span>€32.2M</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="attr">
                    <div class="row">
                        <div class="col">
                            <div>
                                <h4>Attacking</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p66">66</span>
                                        <span>Crossing</span>
                                    </li>
                                    <li>
                                        <span class="label p p73">73</span>
                                        <span>Finishing</span>
                                    </li>
                                    <li>
                                        <span class="label p p40">40</span>
                                        <span>Heading Accuracy</span>
                                    </li>
                                    <li>
                                        <span class="label p p75">75</span>
                                        <span>Short Passing</span>
                                    </li>
                                    <li>
                                        <span class="label p p76">76</span>
                                        <span>Volleys</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4>Skill</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p83">83</span>
                                        <span>Dribbling</span>
                                    </li>
                                    <li>
                                        <span class="label p p80">80</span>
                                        <span>Curve</span>
                                    </li>
                                    <li>
                                        <span class="label p p64">64</span>
                                        <span>FK Accuracy</span>
                                    </li>
                                    <li>
                                        <span class="label p p68">68</span>
                                        <span>Long Passing</span>
                                    </li>
                                    <li>
                                        <span class="label p p78">78</span>
                                        <span>Ball Control</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4>Movement</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p93">93</span>
                                        <span>Acceleration</span>
                                    </li>
                                    <li>
                                        <span class="label p p91">91</span>
                                        <span>Sprint Speed</span>
                                    </li>
                                    <li>
                                        <span class="label p p94">94</span>
                                        <span>Agility</span>
                                    </li>
                                    <li>
                                        <span class="label p p77">77</span>
                                        <span>Reactions</span>
                                    </li>
                                    <li>
                                        <span class="label p p95">95</span>
                                        <span>Balance</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4>Power</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p77">77</span>
                                        <span>Shot Power</span>
                                    </li>
                                    <li>
                                        <span class="label p p70">70</span>
                                        <span>Jumping</span>
                                    </li>
                                    <li>
                                        <span class="label p p88">88</span>
                                        <span>Stamina</span>
                                    </li>
                                    <li>
                                        <span class="label p p34">34</span>
                                        <span>Strength</span>
                                    </li>
                                    <li>
                                        <span class="label p p71">71</span>
                                        <span>Long Shots</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <h4>Mentality</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p55">55</span>
                                        <span>Aggression</span>
                                    </li>
                                    <li>
                                        <span class="label p p43">43</span>
                                        <span>Interceptions</span>
                                    </li>
                                    <li>
                                        <span class="label p p75">75</span>
                                        <span>Positioning</span>
                                    </li>
                                    <li>
                                        <span class="label p p75">75</span>
                                        <span>Vision</span>
                                    </li>
                                    <li>
                                        <span class="label p p64">64</span>
                                        <span>Penalties</span>
                                    </li>
                                    <li>
                                        <span class="label p p81">81</span>
                                        Composure
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4>Defending</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p28">28</span>
                                        <span>Marking</span>
                                    </li>
                                    <li>
                                        <span class="label p p41">41</span>
                                        <span>Standing Tackle</span>
                                    </li>
                                    <li>
                                        <span class="label p p36">36</span>
                                        <span>Sliding Tackle</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4>Goalkeeping</h4>
                                <ul class="pl">
                                    <li>
                                        <span class="label p p7">7</span>
                                        GK Diving
                                    </li>
                                    <li>
                                        <span class="label p p10">10</span>
                                        GK Handling
                                    </li>
                                    <li>
                                        <span class="label p p10">10</span>
                                        GK Kicking
                                    </li>
                                    <li>
                                        <span class="label p p8">18</span>
                                        GK Positioning
                                    </li>
                                    <li>
                                        <span class="label p p6">16</span>
                                        GK Reflexes
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        data = [62, 53, 100, 25, 100, 100];

        let ctx = document.getElementById('radar').getContext('2d');
        Chart.defaults.global.defaultFontColor = 'white';
        Chart.defaults.global.legend.display = false;
        let chart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ['PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'PAC'],
                datasets: [{
                    backgroundColor: 'rgba(253, 189, 0, 0.05)',
                    borderColor: '#fdbd00',
                    datalabels: {
                        color: '#100BFB',
                        align: 'start',
                    },
                    data: data,
                }]
            },
            // Configuration options go here
            options: {
                scale: {
                    angleLines: {
                        color: 'white'
                    },
                    gridLines: {
                        color: 'white'
                    },
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        min: 0,
                        stepSize: 20,
                        display: false,
                    },
                },
            }
        });
    </script>
{% endblock %}



